*{
    margin: 0;
    padding: 0;
}
body {
	background: linear-gradient(-45deg, #e0e0d8, #cffab6, #98dd9ca8, #b4f5a7);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar{
    position: fixed;
    border-radius: 20px;
    background-color: rgba(255, 252, 252, 0.301);
    width: 99%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-nav ul{
    display: flex;
    gap: 40px;
}
.container-nav li{
    font-size: 1em;
    font-weight: 500;
    font-family: "Roboto";
    list-style: none;
    color: rgb(90, 84, 84);
    /* color:  #0B6E4F; */
}
.title{
    
    width: 100%;
    margin-top:80px;
    margin-bottom:15px;
    height: auto;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: center;
    justify-content: center;
    font-family: "quicksand";
    font-weight: bolder;
    color:  #0c5740;
}
.paragrafo{
    word-wrap: break-word;
    text-align: center;
    width: 80%;
    height: 80px;
}
.paragrafo p{
    margin-top: 15px;
    font-family: "quicksand";
}

